* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div#root  {
  background: #eee;
}

div.container {
  margin: 0 auto;
  width: 1200px;
  height: inherit;
  /*background: #f6f6f6;*/
}
